<div class="container text-center">
<h2 class="bg-primary text-white p-3">Usin Pipes</h2>
<p>
  {{title | summary | lowercase | titlecase}}
</p>

<p>
  {{title | summary }}
</p>

<p >
  {{title | summary : 50}}
</p>

<p >
  {{title | summary : 60}}
</p>

<hr>
<h2 class="bg-primary text-white p-3">Card Task</h2>
<div class="row">
  <div class="col-md-3" *ngFor="let file of filesArr">
    <div class="card" >
      <div class="card-header">
        <p>
          {{file.filename}}
        </p>
      </div>
      <div class="card-body">
        <strong>
          {{file.type}}
            <p *ngIf="file.type === 'doc'">
              <img src="../assets/word.jpg" alt="" height="20">
            </p>
            <p *ngIf="file.type === 'excel'">
              <img src="../assets/excel.png" alt="" height="20">
            </p>
            <p *ngIf="file.type === 'pdf'">
              <img src="../assets/pdf.png" alt="" height="20">
            </p>
        </strong>
        <p>
          {{file.size | filesize}}
        </p>
      </div>
    </div>
  </div>
</div>
</div>

